.underline {
	width: 200px;
	height: 4px;
	background-color: #fbb314;
	position: absolute;
	left: 0;

	&_red {
		background-color: #ee4136;
	}

	&_white {
		background-color: #fff;
	}

	&_yellow {
		background-color: #fbb314;
	}

	&_lightyellow {
		background-color: #ffef41;
	}

	&_blue {
		background-color: #01b7d3;
	}
}